@page "/catalogBoy"
@using MongoDB.Driver
@using System.Text.RegularExpressions
@inject NavigationManager navManager
<div class="row">
   <p><a href="">Главная страница</a>> Каталог мальчики</p>
</div>
<h4><i>Футболки и лонгсливы</i></h4>
<div class="border-group">
   @foreach (var item in  tShirtsLongsleeves) 
   {
      <div class="floating-box text-center"> 
          <NavLink href="@item.ArticleProduct"><img class="icon hovered-icon " 
           src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Photo))">          
           </NavLink>
            <br />
            <label><i>@item.Name</i></label>
            <h6><i>@item.Price р.</i></h6>
      </div>  
   }
</div>
<h4><i>Шорты</i></h4>
<div class="border-group">
   @foreach (var item in  shorts)
   {
      <div class="floating-box text-center"> 
          <NavLink href="@item.ArticleProduct"><img class="icon hovered-icon " 
           src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Photo))">          
           </NavLink>
            <br />
            <label><i>@item.Name</i></label>
            <h6><i>@item.Price р.</i></h6>
      </div>  
   }
</div>
<h4><i>Худи и толстовки</i></h4>
<div class="border-group">
   @foreach (var item in  cardigansHoodies)
   {
      <div class="floating-box text-center"> 
          <NavLink href="@item.ArticleProduct"><img class="icon hovered-icon " 
           src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Photo))">          
           </NavLink>
            <br />
            <label><i>@item.Name</i></label>
            <h6><i>@item.Price р.</i></h6>
      </div>  
   }
</div>
<h4><i>Брюки и джинсы</i></h4>
<div class="border-group">
   @foreach (var item in  trousersJeans)
   {
      <div class="floating-box text-center"> 
          <NavLink href="@item.ArticleProduct"><img class="icon hovered-icon " 
           src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Photo))">          
           </NavLink>
            <br />
            <label><i>@item.Name</i></label>
            <h6><i>@item.Price р.</i></h6>
      </div>  
   }
</div>

@code {
    private string Gender = "Мальчик";
  
    UnitOfGoods product = new UnitOfGoods();
    public List<UnitOfGoods> products = new List<UnitOfGoods>();
    public List<UnitOfGoods> tShirtsLongsleeves = new List<UnitOfGoods>();
    public List<UnitOfGoods> shorts = new List<UnitOfGoods>();
    public List<UnitOfGoods> trousersJeans = new List<UnitOfGoods>();
    public List<UnitOfGoods> cardigansHoodies = new List<UnitOfGoods>();

    protected override void OnInitialized()
    {
        products = UnitOfGoods.GetProductsInGender(Gender);
        tShirtsLongsleeves = UnitOfGoods.ShowProductsInCategory(Gender, "Футболки и лонгсливы");
        shorts = UnitOfGoods.ShowProductsInCategory(Gender,"Шорты");
        cardigansHoodies = UnitOfGoods.ShowProductsInCategory(Gender,"Худи и толстовки");
        trousersJeans = UnitOfGoods.ShowProductsInCategory(Gender,"Брюки и джинсы");
        //url = $"{product.ArticleProduct}/";
    }
   
}
